@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #062647;
  --med: #26486b;

  --light: #dfe1e2;
  --highlight: #8c0000;
  --action: #ac0000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark);
  background: radial-gradient(circle, var(--med) 0%, var(--dark) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--action);
  text-decoration: inherit;
}

a:hover {
  color: var(--action);
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  text-align: left;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.underline {
  text-decoration: underline wavy var(--highlight);
  text-underline-offset: 0.3em;
}

.logo {
  width: 30vw;
  padding: 3vw;
  will-change: filter;
  transition: filter 300ms;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  scale: 1;
}

.logo:hover {
  scale: 1.2;
}

.button {
  width: 250px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 15px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--highlight);
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: left;
  line-height: 0.9;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-items: space-between;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: var(--action);
}

.button .text {
  color: #fff6d5;
}

.button span {
  display: block;
  font-weight: 900;
  font-size: 35px;
  color: #fff;
}

svg.threads {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.heart-container {
  position: absolute;
  z-index: 2;
  top: 28%;
  right: 25%;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.heart {
  background-color: var(--highlight);
  position: relative;
  transform: rotate(45deg);
  display: block;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: inherit;
  border-radius: 50%;
  display: block;
}

.heart::before {
  transform: translateY(-50%);
}

.heart::after {
  transform: translateX(-50%);
}

.heart-beat {
  height: 4vw;
  width: 4vw;
  animation: beat 1.4s infinite linear;
}

.grid-center {
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.content {
  padding-top: 20px;
}

.content p {
  text-align: center;
  margin-bottom: 20px;
}

@keyframes beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

