/* Light mode */
[data-mode="light"] {
  --background: #fafafa;
  --foreground: #1b1f24; 
  --heart: #ac0000;
  --link-color: #900000;
  --hover-color: #6a0000;
  --highlight: #6a0000;
  --hand: #d9b58c;
  --border-primary: #dddddd;
  --border-secondary: #eeeeee;
  --code-bg: #f0f0f0;
}

/* Dark mode */
[data-mode="dark"] {
  --background: #19232d;
  --foreground: #dfe1e2;
  --heart: #218AD0;
  --link-color: #0084cb;
  --hover-color: #0064a0;
  --highlight: #259ae9;
  --hand: #b9dbf9;
  --border-primary: #54687a;
  --border-secondary: #6b7f91;
  --code-bg: #2a3441;
}
