/* Light theme */
[data-mode="light"] {
  --background: #fafafa;
  --surface: #ac0000;
  --foreground: #1b1f24; 
  --highlight: #6a0000;
  --highlight-light: #d9b58c;
  --action: #900000;
  --border-light: #dddddd;
  --border-lighter: #eeeeee;
  --code-bg: #f0f0f0;
}

/* Dark mode */
[data-mode="dark"] {
  --background: #19232d;
  --surface: #0076c4;
  --foreground: #dfe1e2;
  --highlight: #259ae9;
  --highlight-light: #b9dbf9;
  --action: #0084cb;
  --border-light: #54687a;
  --border-lighter: #6b7f91;
  --code-bg: #2a3441;
}
